@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FAFAFA;
  color: #1A1A1A;
  overscroll-behavior-y: none;
}

/* Hide scrollbar for cleaner look in previews */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}